node_modules/
.env
uploads/*
usuarios/fotos/*
!usuarios/fotos/foto.jpeg
postagens/*
LICENSE
README.md
controllers/postCont.txt
controllers/userCont.txt
routes/post.txt
routes/usu.txt
bancopsql.txt
